
//  Created by Alessandro Comparini on 05/09/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


//MY ENVIRONMENT VARIABLES
API_BASE_URL = http:/$()/mentoria.codandocommoa.com.br
UID_FIREBASE = CodandoComMoa
DEFAULT_THEME = 2
